# Dart/Flutter
.dart_tool/
.packages
pubspec.lock
build/
doc/api/

# Example app build artifacts
example/.dart_tool/
example/build/
example/pubspec.lock
example/android/.gradle/
example/ios/Pods/
example/ios/.symlinks/
example/ios/Flutter/Flutter.podspec
example/ios/Runner.xcworkspace/xcshareddata/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
